* {
  box-sizing: border-box;
}

html {
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
}

:root {
  --yellow: rgb(242, 201, 76);
}

#input-area {
  display: block;
  box-sizing: border-box;
  height: 20vh;
  width: 100%;
  min-width: fit-content;
  margin-top: 2rem;
  font-size: 1rem;
  font-style: inherit;
}

.container-mid {
  margin: auto;
  padding: 1rem;
  max-width: 600px;
  min-width: fit-content;
}

.container-mid div {
  margin-bottom: 0.4rem;
}

.btn-translate {
  box-sizing: border-box;
  border: none;
  height: 10vh;
  width: 15vw;
  min-width: fit-content;
  margin: 1rem 0rem;
  padding: 1rem;
  background-color: var(--yellow);
  font-family: inherit;
  font-style: inherit;
  font-size: 1rem;
}

#output-area {
  box-sizing: border-box;
  overflow: scroll;
  width: 100%;
  min-height: 10vh;
  max-height: 20vh;
  font-size: 1rem;
  font-style: inherit;
}

.app-name {
  text-align: center;
  background-color: var(--yellow);
  padding: 1.6rem;
  font-size: 1.5rem;
}

.footer {
  position: fixed;
  background-color: var(--yellow);
  width: 100%;
  bottom: 0;
  padding: 1rem;
}

.footer-container {
  text-align: center;
  margin: auto;
  max-width: 600px;
}

.footer-container div {
  font-size: x-large;
}

.footer-container p {
  margin: auto;
  max-width: 600px;
}
